.nav-Item {
    color: #ffffff;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: none !important;
}

.welcome-user {
    color: #7be4c2ad;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}